html,
body,
.view {
    height: 100%;
}


/* Navigation*/

#home h1,
#home p {
    color: white;
}

#home h1 {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: inline-block;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    padding: 23px;
}

#home p {
    letter-spacing: 0.225em;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

#home h1:before, #home h1:after {
    -moz-transition: width 0.85s ease;
    -webkit-transition: width 0.85s ease;
    -ms-transition: width 0.85s ease;
    transition: width 0.85s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#home h1:before {
    top: 0;
    left: 0;
}

#home h1:after {
    bottom: 0;
    right: 0;
}

.divider-new {
    padding-top: 70px;
}

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
    #home {
		padding-top: 100px;
	}
}

@media screen and (max-height: 400px) {
    #home {
		padding-top: 100px;
	}
}

@media screen and (max-height: 310px) {
    #home {
		padding-top: 200px;
	}
}

.btn-li {
    background-color: #0082CA;
}

.card .card-data {
    background-color: #EEE;
    text-align: center;
    height: auto;
    padding: 10px;
}

.view {
    background: url("../images/banner.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img.img-fluid {
    margin-right: auto;
    margin-left: auto;
}

.stepper-vertical {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stepper-vertical, .stepper-vertical li {
    display: -webkit-flex;
    display: -ms-flexbox;
    position: relative;
}

.stepper-vertical li {
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.stepper-vertical, .stepper-vertical li {
    display: -webkit-flex;
    display: -ms-flexbox;
    position: relative;
}

.stepper-vertical li .step-title {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.stepper-vertical li:not(:last-child):after {
    content: " ";
    position: absolute;
    width: 1px;
    height: calc(100% - 40px);
    left: 35px;
    top: 55px;
    background-color: rgba(0,0,0,.1);
}

.primary-color, .stepper li.active .step-title .circle, .stepper li.completed .step-title .circle {
    background-color: #4285F4!important;
}
.stepper-vertical li .step-title .circle {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
.stepper li .step-title .circle {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    background: rgba(0,0,0,.38);
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
}

.stepper-vertical li.completed .step-title .label {
    font-weight: 500;
}

.stepper li.active .step-title .label, .stepper li.completed .step-title .label {
    font-weight: 600;
    color: rgba(0,0,0,.87);
}

.danger-color, .stepper li.warning .step-title .circle {
    background-color: #f44!important;
}

.stepper-vertical li .step-title .label {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.stepper li .step-title {
    padding: 14px 34px;
    font-size: 14px;
    left: -10px;
    top: 10px;
}

.stepper li .step-title .label {
    display: inline-block;
    color: rgba(0,0,0,.38);
}

.stepper li .step-title .label h3,
.stepper li .step-title .label h5,
.stepper li .step-title .label h6 {
    position: relative;
    display: table;
    text-align: left;
}

.stepper-vertical li .step-content {
    display: block;
    margin-top: 0;
    margin-left: 50px;
    padding: 15px;
    width: 94%;
}

.stepper-vertical li .step-content p {
    font-size: .875rem;
}

.text-xs-justify {
    text-align: justify;
}